<!-- current-weather.component.html -->
<div *ngIf="weather" class="card current-weather-card mt-3">
  <div class="card-header bg-dark text-white">
    <span>WEATHER</span>
    <span class="weather-current-location">{{ weather.location.name }}</span>
    <div class="weather-current-time">Updated at: {{ formatLocalTime(weather.location.localtime) }}</div>

  </div>
  <div class="card-body">
    <div class="row">
      <!-- Weather icon, temperature, and condition column -->
      <div class="col-6">
        <div class="d-flex align-items-center">
          <img [src]="weather.current.condition.icon" alt="{{ weather.current.condition.text }}" class="weather-icon" />
          <div>
            <div class="temp">{{ weather.current.temp_c }}°<span class="celsius">C</span></div>
            <div class="real-feel">Feels like {{ weather.current.feelslike_c }}°</div>
          </div>
        </div>
        <div class="weather-condition">{{ weather.current.condition.text }}</div>
      </div>
      <div class="col-6 weather-stats">
        <div class="weather-stat">
          <span>Wind </span>
          <span>{{ weather.current.wind_dir }} {{ weather.current.wind_kph }} km/h</span>
        </div>
        <div class="weather-stat">
          <span>Gusts </span>
          <span>{{ weather.current.gust_kph }} km/h</span>
        </div>
        <div class="weather-stat">
          <span>Humidity </span>
          <span>{{ weather.current.humidity }}%</span>
        </div>
        <!-- Add more stats as needed -->
      </div>
    </div>
  </div>

  <div class="card-footer">
    <a href="#" class="weather-more-details">MORE DETAILS ></a>
  </div>
</div>